.filterinput {
  background: #fff;
  border-radius: 15px;
  width: 67%;
  height: 30px;
  border: thin solid #FFF;
  text-indent: 0.5em;
  font-weight: bold;
}

.m1 {
  width: 135px;
  float: left;
}

.m1 .jquery-accordion-menu {
  border-radius: 0 0 20px 0 !important;
}

.m1 h1 {
  font-size: 22px;
  color: #fff;
}

.m1 .mh_me1 {
  display: block;
}

.m1 .iconfont {
  font-size: 20px;
}

.m2 {
  width: 967px;
  height: 669px;
  margin-left: 171px;
  background: #049372;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 20px 50px #333;
}

.m2 .mh_hed {
  height: 50px;
  background: #03A678;
}

.m2 .mh_hed ul {
  padding-left: 700px;
}

.m2 .mh_hed ul li {
  float: left;
  margin-left: 5px;
}

.m2 .mh_hed ul li a {
  display: block;
  width: 50px;
  padding-top: 8px;
  height: 50px;
  color: #fff;
  font-size: 12px;
  text-align: center;
}

.m2 .mh_hed ul li a:hover {
  background: #383838;
  border: 1px solid #fff;
}

.m2 .mh_search {
  height: 50px;
  border-top: 1px solid #f0f0f0;
  background: #03A678;
  padding-top: 10px;
  padding-left: 10px;
  position: relative;
}

.m2 .mh_search .icon-fangdajing {
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  left: 120px;
  top: 15px;
}

.m2 .mh_search .tipnull {
  width: 200px;
  height: 28px;
  line-height: 28px;
  color: #fff;
  display: none;
  background: orange;
  text-align: center;
  font-weight: bold;
  border-radius: 8px;
  position: absolute;
  left: 118px;
  top: 38px;
}

.m2 .mh_search .addgoods {
  width: 84px;
  height: 28px;
  display: block;
  float: left;
  text-align: center;
  border-radius: 8px;
  background: #fff;
}

.m2 .mh_search .addgoods:hover {
  cursor: pointer;
}

.m2 .mh_search #sou {
  height: 28px;
  width: 96px;
  margin-right: 5px;
  text-indent: 1em;
  text-align: center;
  border-right: none;
  line-height: 28px;
  border-radius: 8px;
}

.m2 .mh_search #sou:hover {
  cursor: pointer;
}

.m2 .mh_search #searchp {
  width: 236px;
  height: 28px;
  border-radius: 8px 0 0 8px;
  line-height: 28px;
  text-indent: 4em;
}

.m2 .mh_search .shuaxin {
  margin-left: 5px;
  display: block;
  color: #000000;
  text-align: center;
  float: left;
  background: #fff;
  height: 28px;
  width: 84px;
  margin-right: 5px;
  text-align: center;
  border-right: none;
  line-height: 28px;
  border-radius: 8px;
}

.m2 .mh_search .shuaxin:hover {
  cursor: pointer;
}

.m2 .mh_search .mh_select {
  width: 45px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  background: #fff;
  border-radius: 0 8px 8px 0;
}

.m2 .mh_search .mh_select:hover {
  cursor: pointer;
  background: #03A678;
  color: #fff;
  border: 1px solid #fff;
}

.m2 .mh_box {
  font-size: 12px !important;
  height: 553px;
  background: #fff;
  padding-left: 20px;
  padding-top: 20px;
  overflow-x: hidden;
  border-bottom: 3px dashed #049372;
}

.m2 .mh_box img {
  width: 915px;
  height: 481px;
}

.m2 .mh_box .yema .yemaul {
  margin-top: 20px;
}

.m2 .mh_box .yema .yemaul .yemali {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid #ccc;
}

.m2 .mh_box .yema .yemaul .yemali:hover {
  cursor: pointer;
  background: #049372;
  color: #fff;
}

.m2 .mh_box #output .payRight {
  float: left;
}

.m2 .mh_box #output .payRight caption {
  font-size: 16px !important;
  font-weight: bold !important;
  padding-left: 2px !important;
}

.m2 .mh_box #output .payRight td {
  color: #000 !important;
}

.m2 .mh_box #output input {
  display: block;
}

.m2 .mh_box #output .make_m {
  background: none;
}

.m2 .mh_box #output .del_m {
  background: none;
}

.m2 .mh_box #output table {
  border-collapse: collapse;
  border: 1px solid #ccc;
  color: #000;
}

.m2 .mh_box #output table tr {
  border-collapse: collapse;
  border: 1px solid #ccc;
}

.m2 .mh_box #output table td {
  border-collapse: collapse;
  padding: 5px 10px 5px 10px;
  border: 1px solid #ccc;
  text-align: center;
}

.m2 .mh_box #output table .bns {
  width: 60px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.m2 .mh_box #output table tr:nth-child(odd) {
  background: #03A678;
}

.m2 .mh_box #output table tr:nth-child(odd) td {
  color: #fff;
}

.m2 .mh_box #output table tr:nth-child(odd) td input {
  color: #fff;
}

.m2 .mh_box #output table .make {
  margin-bottom: 5px;
  background: none;
}

.m2 .mh_box #output table .make:hover {
  cursor: pointer;
  color: red;
}

.m2 .mh_box #output table .del {
  background: none;
}

.m2 .mh_box #output table .del:hover {
  cursor: pointer;
  color: red;
}

.m2 .mh_box #tc {
  width: 615px;
  height: 373px;
  display: none;
  border-radius: 10px 10px;
  position: absolute;
  left: 0;
  top: 0;
  background: #FFF;
  z-index: 100;
  padding: 20px;
}

.m2 .mh_box #tc label {
  display: inline-block;
  width: 50px;
  height: 30px;
  text-align: right;
}

.m2 .mh_box #tc input {
  margin: 10px 20px;
  text-indent: 1em;
  border: 1px solid #ccc;
}

.m2 .mh_box #tc .tsave {
  font-size: 10px;
  line-height: 20px;
  padding-left: 206px;
  margin-top: 12px;
  padding-right: 206px;
  text-align: center;
  background: #049372;
  color: #fff;
  border-radius: 5px 5px 5px 5px;
}

.m2 .mh_box #tc .tsave:hover {
  cursor: pointer;
  background: #00661A;
}

.m2 .mh_box #tc #del {
  border: 1px solid #000;
  text-align: center;
  border-radius: 50%;
}

.m2 .mh_box #tc #del:hover {
  cursor: pointer;
  color: #fff;
  background: #D90000;
}

.m2 .mh_box #tc .title {
  overflow: hidden;
}

.m2 .mh_box #tc h4 {
  float: left;
  font-size: 14px;
}

.m2 .mh_box #tc span {
  float: right;
  width: 20px;
  height: 20px;
  text-align: center;
}

.m2 .mh_box #all {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  position: absolute;
  left: 0;
  top: 0;
}

.m2 .mh_box #tc1 {
  width: 615px;
  height: 373px;
  display: none;
  border-radius: 10px 10px;
  position: absolute;
  left: 344px;
  top: 153px;
  background: #FFF;
  z-index: 100;
  padding: 20px;
}

.m2 .mh_box #tc1 label {
  display: inline-block;
  width: 50px;
  height: 30px;
  text-align: right;
}

.m2 .mh_box #tc1 input {
  margin: 10px 20px;
  text-indent: 1em;
  border: 1px solid #ccc;
}

.m2 .mh_box #tc1 .tsave1 {
  font-size: 10px;
  line-height: 20px;
  padding-left: 206px;
  margin-top: 12px;
  padding-right: 206px;
  text-align: center;
  background: #049372;
  color: #fff;
  border-radius: 5px 5px 5px 5px;
}

.m2 .mh_box #tc1 .tsave1:hover {
  cursor: pointer;
  background: #00661A;
}

.m2 .mh_box #tc1 #del1 {
  border: 1px solid #000;
  text-align: center;
  border-radius: 50%;
}

.m2 .mh_box #tc1 #del1:hover {
  cursor: pointer;
  color: #fff;
  background: #D90000;
}

.m2 .mh_box #tc1 .title {
  overflow: hidden;
}

.m2 .mh_box #tc1 h4 {
  float: left;
  font-size: 14px;
}

.m2 .mh_box #tc1 span {
  float: right;
  width: 20px;
  height: 20px;
  text-align: center;
}

.m2 .mh_box #all1 {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  position: absolute;
  left: 0;
  top: 0;
}
